/*
!/alacritty/
!/aerospace/
!/nvim/
!/vscode/
/nvim/lazyvim.json
!/tmux/
!/yazi/
!/starship.toml
!/ghostty/
!/.gitignore
!/vscode-customizations
!/leader-key/
/alacritty/themes/
!/sketchybar/
/tmux/plugins/
!/yabai/
!/skhd/
lazy-lock.json
.DS_Store
