* {
  font-family: 'CaskaydiaCove NF Light' !important;
}

html {
  --bg: linear-gradient(
    135deg,
    rgb(127, 127, 213),
    rgb(134, 168, 231),
    rgb(145, 234, 228),
    #fd9e65
  );
}

/* command center */
.quick-input-widget {
  top: 20% !important;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
  border-radius: 10px !important;
  padding: 8px !important;
  border: 1px solid #1c1e2e !important;
}
.quick-input-filter .monaco-inputbox {
  border-radius: 8px !important;
  padding: 8px !important;
  font-size: 16px !important;
  margin-bottom: 8px !important;
}

/* tab */
.tab.active.selected::after {
  content: '';
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  top: 4px;
  left: 4px;
  border-radius: 4px;
  background: var(--bg) !important;
  opacity: 0.3;
  pointer-events: none;
}

/* minimap */
.minimap-slider-horizontal {
  background: var(--bg) !important;
  opacity: 0.3 !important;
  border-radius: 4px;
}

/* cursor */
.cursors-layer .cursor {
  background: var(--bg) !important;
  border-radius: 2px;
}

/* scrollbar */
.editor-container .monaco-scrollable-element > .scrollbar.vertical > .slider {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(127, 127, 213),
    rgb(145, 234, 228),
    rgb(127, 127, 213),
    transparent
  ) !important;
  width: 4px !important;
  transform: translateX(10px) !important;
}
